<div *ngIf="course" class="course-details-container">
  <div class="course-header">
    <h2>{{ course.title }}</h2>
    <button 
      *ngIf="(currentUser$ | async)?.role === 'admin'" 
      (click)="editCourse()"
    >
      Edit Course
    </button>
    <ng-container *ngIf="(currentUser$ | async) as currentUser">
      <button 
        *ngIf="currentUser?.role === 'student'" 
        (click)="enrollStudent(currentUser.uid)"
      >
        Enroll
      </button>
    </ng-container>
  </div>
  
  <div class="course-content">
    <section class="course-description">
      <h3>Description</h3>
      <p>{{ course.description }}</p>
    </section>
    
    <section class="course-metadata">
      <div class="metadata-grid">
        <div class="metadata-item">
          <strong>Created By:</strong> 
          <span *ngIf="creator$ | async as creator">
            {{ creator.displayName || 'Unknown user' }}
          </span>
        </div>
        <div class="metadata-item">
          <strong>Created At:</strong> 
          {{ course.createdAt | date:'medium' }}
        </div>
      </div>
    </section>
    
    <section class="course-participants">
      <h3>Teacher</h3>
      <div *ngIf="teacher$ | async as teacher; else noTeachers">
        {{ teacher.displayName || 'No name provided' }}
        <small>({{ teacher.email }})</small>
      </div>
      <ng-template #noTeachers>
        <p>No teachers assigned</p>
      </ng-template>
          
      <!-- <h3>Students</h3> -->
      <div *ngIf="students$ | async as students; else noStudents">
        <app-user-list
          [users]="(students$ | async) || []"
          [roleFilter]="'student'"
          [courseId]="courseId ?? undefined"
        ></app-user-list>
      </div>
      <ng-template #noStudents>
        <p>No students enrolled</p>
      </ng-template>
    </section>
  </div>
</div>

 