.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  padding: 5rem;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  margin: 20px auto;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
  margin: 0 0 5px 0;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

label {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

label .input, textarea.input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 10px 10px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: 16px;
  transition: border 0.3s ease;
}

textarea.input {
  min-height: 120px;
  resize: vertical;
}

label .input + span, label span:first-child {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

label span:first-child {
  color: #00bfff;
  font-size: 0.7em;
  font-weight: 600;
  top: -5px;
}

label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

label .input:focus + span,
label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input.invalid, app-user-list.invalid {
  border: 1px solid #ff3c3c;
}

.error-message {
  color: #ff3c3c;
  font-size: 12px;
  margin-top: 5px;
  padding-left: 10px;
}

.unauthorized-message {
  background-color: rgba(255, 60, 60, 0.1);
  border: 1px solid #ff3c3c;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
}

.submit {
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: .3s ease;
  background-color: #00bfff;
  cursor: pointer;
  margin-top: 10px;
}

.submit:hover:not([disabled]) {
  background-color: #00bfff96;
}

.submit[disabled] {
  background-color: #555;
  cursor: not-allowed;
}

app-user-list {
  display: block;
  margin-top: 25px;
  background-color: #333;
  border-radius: 10px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  padding: 10px;
}

.global-error {
  background-color: rgba(255, 60, 60, 0.1);
  border: 1px solid #ff3c3c;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}